<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>14.4</string>
	<key>CFBundleDisplayName</key>
	<string>OneTapMobile</string>
	<key>CFBundleIdentifier</key>
	<string>com.onetapsocial.onetap</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>OneTapMobile</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb578177173616840</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.554784465087-jlnt6vp69jmqpb063k08h6lbkbb9hgj5</string>
				<string>com.googleusercontent.apps.566011961148-316hc3opclcf8go0f731uqtsmdr5h1pv</string>
				<string>com.googleusercontent.apps.566011961148-usfgq5q711abodegjqlkmfgt47b6t6pg</string>
				<string>com.googleusercontent.apps.554784465087-kaho1klg8urinnu6qipp4o09ub3kev4l</string>
				<string>com.googleusercontent.apps.164914814140-23uj8vaeitkef91g1p92rr39od6as8nt</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>URL Type 1</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>FacebookDisplayName</key>
	<string>OneTap Mobile</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInMedia</key>
		<true/>
	</dict>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload an image or video for creating campaign</string>
	<key>NSCameraUsageDescription</key>
	<string>To Create video or image for uploading in campaign</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>To upload video or image for creating campaign</string>
	<key>FacebookAppID</key>
	<string>578177173616840</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To upload a video made by camera for creating campaign</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To use video or image for creating campaign</string>
	<key>CFBundleVersion</key>
	<string>36</string>
</dict>
</plist>
